@charset "utf-8";


body{
	font-family: arial, sans-serif; /*fonte sem serifa*/
	background-image: url(../imagens/fundo1.jpg);
	color:rgba(0,0,0,3);
	}	
p{
	 background: transparent;
  font-weight: bold;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
		}
.header h3, .header h4{
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: #f2fffc;
	font-weight: bolder;
}
h5#titulo-h5{
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 11pt;
	color: #e74c3c;
	font-weight: bold;
}
.header{
	background-image: url(../imagens/fundo2.jpg);
	
    padding-top: 10px;
    text-align: center;
    border-bottom: 3px solid #000000; 
}
.header img#foto{
	border-radius: 50%;
	border: 1px solid #000000;
}
.navbar-header button{
			color: #fff;
		}

#list2 a:hover { 
    background-color: #ff0000;
}
/*menu principal
li { 
    border-right:1px solid #bbb;

}
li:last-child {
    border-right: none;
}*/

/*section#carousel-banner{
	position: relative;
	display: block;
	bottom: 21.5px;
}*/
ul#list{
	padding: 0px 20px;
}
.fullscreen{ /*ocupa tela intera do banner*/
	width: 100%;
}
div#carousel{
	width: 50%;
	position: relative;
	left: 25%;
}

/*POSTS*/
.post {
	width: auto;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	box-sizing: border-box;
	padding: 1em;
	margin: 1em ;
	background-color: #eae7dc;
	color: #333;
	border-radius: 10px;
	position: relative;
}
.post .post-title {
	font-size: 1.0em;
	line-height: 1.0em;
	text-decoration: none;
	color: #e74c3c;
}
.post .post-info {
	flex-direction: column;
}
.post .post-resume {
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 0.5em 0 0 0;
	border-top: 1px solid #f2f2f2;
	font-weight: bold;
}
.post .post-btn {
	align-self: flex-end;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	background-color: #e74c3c;
	border: 0;
	border-bottom: 4px solid #c53b2d;
	border-radius: 5px;
	padding: 0.6em 1em;
	margin: 0.5em 0;
}
#btn-voltar{
	position:absolute;
	align-self: flex-end;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	background-color: #e74c3c;
	border: 0;
	border-bottom: 4px solid #c53b2d;
	border-radius: 5px;
	padding: 10px;
	margin-top: 0px;
	left: 1000px;
}

h3{
	color: #fff;
}

h6{
	color: #ff0000;
}
.thumbnail{
background-color: rgba(192,192,192,0.3);
}


.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     
.zoom:hover,  
.zoom:active,   
.zoom:focus {
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:50;  
}



/*rodapé*/
h3#ropape-h3{
	color: #000000;
}
span#rodape{
font-size: 1.6em;
font-weight: bold;
}	
footer{ /*área de baixo do site(rodapé)*/
	clear: both;
    background-color: rgba(146,119,199,0.4);
    padding: 10px;
    text-align: center;	
}
h4#rodape-h4{
	text-align: center;
	color: #000000;
	font-weight: bolder;
	font-family: Arial, sans-serif;
}


